<a href="https://colab.research.google.com/github/Kushalsharma12345/kushal/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-7114e1bb196c>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [ ]:
import pandas as pd
import numpy as np
npdata = np.array(['a','b','c','d'])
s = pd.Series(npdata)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print (s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a']) 
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
Print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0])
print(s[:3])
print(s[-3:])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s['a'])
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[['a','c','d']] )
print (s['d'])

1
a    1
c    3
d    4
dtype: int64
4

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df= pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
import pandas as pd
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:
import pandas as pd
data=[{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
import pandas as pd
data=[{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [ ]:
import pandas as pd
d={'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df= pd.DataFrame(d)
print(df )

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
import pandas as pd
d= {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df= pd.DataFrame(d)
print(df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
import pandas as pd
d= {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df= pd.DataFrame(d)
print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [ ]:
import pandas as pd
d= {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
'three' : pd.Series([10,20,30], index=['a','b','c'])}
df= pd.DataFrame(d)
print("Our dataframe is:")
print(df)
print("Deleting the first column using DEL function:")
del df['one']
print(df )
print ("Deleting another column using POP function:")
df.pop('two')
print(df )

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [ ]:
import pandas as pd
import numpy as np
s= pd.Series(np.random.randn(4))
print("The axes are:")
print(s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [ ]:
import pandas as pd
import numpy as np
s= pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print(s.empty)

Is the Object empty?
False

In [ ]:
import pandas as pd
import numpy as np
s= pd.Series(np.random.randn(4))
print(s)
print ("The dimensions of the object:")
print (s.ndim)

0    0.720868
1   -0.256137
2   -0.155824
3   -0.717241
dtype: float64
The dimensions of the object:
1

In [ ]:
import pandas as pd
import numpy as np
s= pd.Series(np.random.randn(2))
print(s)
print("The size of the object:")
print(s.size)

0   -0.020640
1    0.407616
dtype: float64
The size of the object:
2

In [ ]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s= pd.Series(np.random.randn(4))
print(s)
print("The actual data series is:")
print(s.values)

0   -0.966537
1    0.347826
2    0.452702
3    0.389732
dtype: float64
The actual data series is:
[-0.96653746  0.34782571  0.45270166  0.38973175]

In [ ]:
import pandas as pd
import numpy as np
s= pd.Series(np.random.randn(4))
print ("The original series is:")
print(s)
print ("The first two rows of the data series:")
print(s.head(2))
print(s.tail(2))

The original series is:
0    0.222649
1   -0.589831
2   -2.189133
3    0.710550
dtype: float64
The first two rows of the data series:
0    0.222649
1   -0.589831
dtype: float64
2   -2.189133
3    0.710550
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
d= {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print ("The transpose of the data series is:")
print(df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [ ]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print("Row axis labels and column axis labels are:")
print(df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [ ]:
import pandas as pd
import numpy as np
d= {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print ("The data types of each column are:")
print(df.dtypes )

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [ ]:
import pandas as pd
import numpy as np
d= {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print ("Our object is:")
print(df)
print ("The shape of the object is:")
print(df.shape)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The shape of the object is:
(7, 3)

In [ ]:
import pandas as pd
import numpy as np
d= {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print ("Our object is:")
print(df)
print ("The total number of elements in our object is:")
print(df.size)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The total number of elements in our object is:
21

In [ ]:
import pandas as pd
import numpy as np
d= {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print ("Our object is:")
print(df)
print ("The actual data in our data frame is:")
print(df.values)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [ ]:
import pandas as pd
import numpy as np
d= {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df= pd.DataFrame(d)
print ("Our data frame is:")
print (df)
print ("The first two rows of the data frame is:")
print(df.head(2))
print(df.tail(2))

Our data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8